* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
margin: 0px;
}



body {
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none !important;
    ;
}

.col-lg-10 {
    padding: 0px;
}

.menu-bar {
    padding: 60px 30px;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    width: 16.66666666667%;
    z-index: 1001;
    background: #101010;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.logo {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 6px;
    line-height: 27px;
    font-size: 35px;
    margin-bottom: 60PX;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

.logo span {
    font-size: 13px;
    color: #cecece;
    font-weight: 400;
    letter-spacing: 3px;
}

.menu-section {
    list-style-type: none;
}

.menu-section a {
    margin: 22px 0 22px 0;
    padding: 0 0 16px 0;
    list-style: none;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 1px solid #202020;
    color: #cecece;
    display: block;
    position: relative;
}

.bottom-section {
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    padding: 30px 5px;
}

.bottom-section li {
    display: inline-block;
    color: #cecece;
    background: transparent;
}

.bottom-section li a {
    color: #cecece;
}

.bottom-section li i {
    padding: 6px;
}

.bottom-section p {
    color: #cecece;
    font-size: 12px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}

.scetion1 {
    margin: 70px 0px;
    text-align: center;
}

.scetion1 img {
    width: auto;
}

.scetion1 h1 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 600;
    letter-spacing: 3px;
}

.oppa {
    padding: 50px 0px;
    position: relative;
    width: 475px;
    margin: 0px auto;
    border: 1px solid #e6d2d2;
    height: 400px;
}


.top-main {
    position: relative;
}

.content_part {
    text-align: center;
    color: #000;
    transition: .8s;
    height: 40px;
    width: 90%;
    margin: 0px auto;
}

.top-main:hover .content_part {
    position: absolute;
    bottom: 0%;
    width: 90%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    border: 1px solid #fff;
    margin: 0px auto;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_part h1 {
    margin: 0px;
    font-size: 27px;
    padding-top: 7px;
    position: relative;
}

#wowslider-container1 .ws-title {
    font-size: 50px !important;
    bottom: auto !important;
    top: 50% !important;

}

.sec2 {
    margin-top: 0px;
}

.sec22 {
    margin-top: 40px;
}

.sec21 {
    margin-top: 40px;
}

.section2 {
    margin: 70px 0px;
    text-align: center;
    background-image: url(../image/testi.jpg);
    background-size: cover;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    padding: 40px 0px;
    color: #f9f2f2;
}

.section2 h1 {
    letter-spacing: 2px;

    margin-bottom: 50px;

}

.section3 h1 {
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 50px;

}

.content-slider img {
    width: 10%;
    border-radius: 50%;
}

.para {
    max-width: 910px;
    margin: 17px auto;
}

.para p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    margin: 0px 0px 8px 0px;
}

.para h3 {
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}

.para i {
    font-size: 24px;
    padding: 0px 5px;
    color: #000;
}

#slideshow {
    margin: 0 auto;

    height: 250px;
    width: 100%;
    box-sizing: border-box;
}

.slideshow-title {
    font-family: 'Allerta Stencil';
    font-size: 62px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    margin-top: 25%;
    letter-spacing: 3px;
    font-weight: 300;
}

.sub-heading {
    padding-top: 50px;
    font-size: 18px;
}

.sub-heading-two {
    font-size: 15px;
}

.sub-heading-three {
    font-size: 13px;
}

.sub-heading-four {
    font-size: 11px;
}

.sub-heading-five {
    font-size: 9px;
}

.sub-heading-six {
    font-size: 7px;
}

.sub-heading-seven {
    font-size: 5px;
}

.sub-heading-eight {
    font-size: 3px;
}

.sub-heading-nine {
    font-size: 1px;
}

.entire-content {
    margin: auto;
    width: 190px;
    perspective: 1000px;
    position: relative;
}

.content-carrousel {
    width: 100%;
    position: absolute;
    float: right;
    animation: rotar 15s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.content-carrousel figure {
    width: 100%;
    height: 150px;
    border: 1px solid #3b444b;
    overflow: hidden;
    position: absolute;
    text-align: center;
    padding-top: 15px;
}

.content-carrousel figure h4 {
    font-size: 20px;
    margin-top: 20px;
}

.content-carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
    transform: rotateY(40deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
    transform: rotateY(80deg) translateZ(300px);
}

.content-carrousel figure:nth-child(4) {
    transform: rotateY(120deg) translateZ(300px);
}

.content-carrousel figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(300px);
}

.content-carrousel figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(300px);
}

.content-carrousel figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(300px);
}

.content-carrousel figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(300px);
}

.content-carrousel figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(300px);
}

.content-carrousel figure:nth-child(10) {
    transform: rotateY(360deg) translateZ(300px);
}

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
}

.content-carrousel img {
    image-rendering: auto;
    transition: all 300ms;
    width: 30%;
    height: 40%;
}

.content-carrousel img:hover {
    transform: scale(1.2);
    transition: all 300ms;
}

@keyframes rotar {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.newsletter input {
    width: 84%;
    height: 45px;
    font-size: 14px;
    vertical-align: top;
    border: none;
    padding: 0 0 0 6px;
}

.newsletter button {
    cursor: pointer;
    background: #101010;
    font-weight: normal;
    font-size: 18px !important;
    border: 1px solid #fff;
    color: #e8e8e8;
    margin: 0 0 0 -5px;
    outline: 0;
    height: 45px;
}

.footer_section {
    background-color: #211e1e;
    margin-top: 0px;
    padding: 40px 0px;
    color: #fff;
}


.footer_section ul {
    text-align: center;
}

.footer_section ul li {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    margin: 0px 22px;
    text-transform: capitalize;
}

.footer_section .logo {
    margin: 15px 0px;
}

.footer_section h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: -15px;

}

.newsletter {
    margin-top: 20px;
}

/*section4 css*/

.slider-container {
    position: relative;
    perspective: 350px;
    transform-style: preserve-3d;
}

.carousel-3d-item {
    position: absolute;
    top: 50%;
    left: 40%;
    outline: 1px solid transparent;
}

#carousel-3d-controller-2~.carousel-3d-item:nth-of-type(1),
#carousel-3d-controller-1~.carousel-3d-item:nth-of-type(1),
#carousel-3d-controller-2~.carousel-3d-item:nth-of-type(2),
#carousel-3d-controller-1~.carousel-3d-item:nth-of-type(2),
#carousel-3d-controller-2~.carousel-3d-item:nth-of-type(3),
#carousel-3d-controller-1~.carousel-3d-item:nth-of-type(3),
    {
    transition: all 3s cubic-bezier(.48, .16, .15, .98);
}

.carousel-3d-item:nth-of-type(2),
#carousel-3d-controller-1:checked~.carousel-3d-item:nth-of-type(2),
#carousel-3d-controller-2:checked~.carousel-3d-item:nth-of-type(3),
#carousel-3d-controller-3:checked~.carousel-3d-item:nth-of-type(1) {
    transform: translateX(-175px) translateZ(-130px);
    opacity: .9;
    transition: all 3s cubic-bezier(.48, .16, .15, .98);
}

.carousel-3d-item:nth-of-type(1),
#carousel-3d-controller-1:checked~.carousel-3d-item:nth-of-type(1),
#carousel-3d-controller-2:checked~.carousel-3d-item:nth-of-type(2),
#carousel-3d-controller-3:checked~.carousel-3d-item:nth-of-type(3) {
    transform: translateX(0) translateZ(0);
    opacity: 1;
    transition: all 3s cubic-bezier(.48, .16, .15, .98);
}

.carousel-3d-item:nth-of-type(3),
#carousel-3d-controller-1:checked~.carousel-3d-item:nth-of-type(3),
#carousel-3d-controller-2:checked~.carousel-3d-item:nth-of-type(1),
#carousel-3d-controller-3:checked~.carousel-3d-item:nth-of-type(2) {
    transform: translateX(175px) translateZ(-130px);
    opacity: .9;
    transition: all 3s cubic-bezier(.48, .16, .15, .98);
}

.section4_slide label img {
    width: 45%;
}

.kiraa {
    width: auto !important;
}

.appr {
    width: 72% !important;
}

.section4 {
    margin: 70px 0px 0px 0px;
    height: 310px;
    background-color: #727272;
    padding: 30px 0px;
    color: #f5eded;
}

.section4 h1 {
    font-size: 35px;
    letter-spacing: 1.5px;
    margin-bottom: 25px;
    text-align: center;
}

.skill_slid {
    text-align: center;
}

.skill_slid h3 {
    font-size: 20px;
    margin-top: 30px;
    letter-spacing: 1px;
}

.icon_part {
    width: 100px;
    height: 100px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transform: rotate(45deg);
    margin-top: 20px;
}


.skill_slid i {
    font-size: 45px;
    transform: rotate(-45deg);
    color: #101010;
}

/*contact pa*/

.contact_section1 {
    margin: 40px 0px 70px 0px;
    padding: 0px 40px;
}

.address_section {
    margin: 70px 0px 70px 0px;
    padding: 0px 40px;
}

.contact_section1 h1 {
    font-size: 35px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.add_info span {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #727272;
    color: #fff;
    font-size: 24px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    margin-right: 20px;
}

.address_section h3 {
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.add_info p {
    letter-spacing: 1px;
    margin-bottom: 7px;
}


/*work section*/


.work-sec img {
    width: 100%;
}

.work_im {
    border: 1px solid #ccc;
    padding: 35px;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
}

.opaci {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
    background: rgba(0, 0, 0, .9);
    transform: scale(0);
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.opaci p {
    font-size: 18px;
}


.work_im:hover .opaci {
    transform: scale(1);
}


/*about-section*/

.about_section_part1 {
    background-image: url(../image/laopt.jpg);
    width: 100%;
    height: 420px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 24px;
}

.ab-sec p {
    font-family: 'Lato', sans-serif;
    line-height: 27px;
}

.about_section_part1 img {
    width: 80%;
    height: 309px;
    margin-left: 59px;
}

.about_section2 {
    margin: 40px 0px 70px 0px;
    padding: 0px 40px;
}

.about_section2 h1 {
    font-size: 35px;

    letter-spacing: 1px;
}

.about_section2 p {
    font-size: 19px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
    color: #929292;
    line-height: 35px;
}

.members {
    text-align: center;
}

.members li {
    display: inline-block;
    width: 220px;
    margin: 0 20px 20px 0;
    font-size: 14px;
}

.member {
    position: relative;
    height: 294px;
    text-align: center;
    overflow: hidden;
}

.member .image {
    display: block;
    height: 216px;
    position: relative;
    overflow: hidden;
}


.member img {
    width: 100%;
    position: relative;
    top: 0;
}


.info {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 78px;
    background-color: #fff;
    color: #000;
    transition: .5s;
}

.member h4 {
    margin: 10px 0 0;
    font-weight: 300;
    font-size: 1.5em;
}

.info p {
    height: 0;
    overflow: hidden;
    margin: 3px 0;
    padding: 0 10px;
    font-size: 0.8em;
    line-height: 19px;
    color: #fff;
}

.social {
    padding-bottom: 5px;
}


.info:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 13px;
    margin-left: -13px;
}

.social li {
    width: auto;
    height: auto;
    margin: 0;
    padding: 4px;
}

.social a {
    display: block;
    width: 14px;
    height: 20px;
    margin: 0;
    padding: 2px 4px;
    color: #000;
    text-align: center;
}

.member:hover>.image img {
    top: -30px;
}

.member:hover>.info {
    height: 50%;
    background-color: #000;
    color: #fff;
}


.member:hover>.info p {
    height: auto;
}

.member:hover>.info:after {
    border-bottom-color: #000;
}

.member:hover>.info .social a {
    color: #fff;
}

/*service-section*/

.service_sec h2 {
    font-size: 27px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}


.service_sec p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .5px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #000;
}

.nav-pills .nav-link {
    border-radius: .25rem;
    border-bottom: 1px solid #000;
    margin-bottom: 5px;
    padding: 8px 12px;
    font-size: 17px;
    letter-spacing: 1px;
    border-radius: 0px;
    color: #000;
}

.brand2 img {
    width: 100%;
}

.brand2 ul {
    padding-left: 15px;
    list-style: none;
}

.brand2 ul li {
    font-family: 'Lato', sans-serif;
    color: #777;
    line-height: 30px;
}

.brand2 h5 {
    font-size: 24px;
    letter-spacing: 1px;
}

.brand2 i {
    color: #00bcf2;
}

.brand2 .col-6 {
    margin-bottom: 35px;
}

/*Responsive */

@media only screen and (max-width: 767px) {
    .menu-bar {
        width: 270px;
        transform: translateX(-270px);
    }

    #wowslider-container1 .ws-title {
        font-size: 22px !important;
        bottom: auto !important;
        top: 37% !important;
    }

    .scetion1 {
        margin: 50px 0px;
    }

    .scetion1 h1 {
        font-size: 24px;
    }

    .oppa {
        width: 100%;
        height: auto;
    }

    .scetion1 img {
        width: 100%;
    }

    .section2 h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .content-slider img {
        width: 24%;
    }

    .para {
        width: 100%;
        padding: 10px;
    }

    .para p {
        font-size: 15px;
    }

    .para h3 {
        font-size: 22px;
    }

    .section2 {
        height: 540px;
    }

    .section3 h1 {
        font-size: 24px;
    }

    .content-carrousel figure h4 {
        font-size: 16px;
    }

    .section4 {
        height: auto;
    }

    .logo span {
        display: block;
        margin-top: 7px;
    }

    .footer_section .col-lg-2 {
        margin-bottom: 20px;
    }


    .footer_section .col-lg-7 {
        margin-bottom: 20px;
    }

    .footer_section h2 {
        text-align: left;
    }

    .footer_section ul li {
        display: block;
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        letter-spacing: 1.5px;
        margin: 0px 22px;
        text-transform: capitalize;
        color: #fff;
        line-height: 14px;
    }

    .footer_section ul {
        text-align: left;
        color: transparent;
    }

    .section4_slide {
        height: 145px;
    }

    .scetion1 .col-lg-6 {
        margin-bottom: 35px;
    }

    .content_part {
        width: 100%;
    }

    .sec21 {
        margin-top: 0px;
    }

    .sec22 {
        margin-top: 0px;
    }

    .contact_section1 {
        padding: 0px 0px;
    }

    .contact_section1 h1 {
        padding: 0px 15px;
    }

    .ab-sec .col-lg-5 {
        margin-top: 35px;
    }

    .about_section_part1 img {
        width: 80%;
        height: 188px;
        margin-left: 35px;
    }

    .about_section_part1 {
        height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 11px;
    }

    .about_section2 h1 {
        font-size: 24px;
    }

    .service_sec .col-lg-9 {
        margin-top: 35px;
    }

    .service_sec h2 {
        font-size: 24px;
    }

    .brand2 .col-lg-6 {
        margin-top: 35px;
    }

    .kiraa {
        width: 60% !important;
    }

    .appr {
        width: 60% !important;
    }

    .mobile_section {
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 999;
        cursor: pointer;
        opacity: 1;
        visibility: visible;
        text-align: center;
        width: 52px;
        line-height: 49px;
        height: 52px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        background: #101010;
        color: #fff;
        font-size: 25px;
        margin: 15px 30px;
        border-radius: 50%;
    }

    .showw_menu {
        transform: translateX(0px);
    }

    .cross_sec {
        position: fixed;
        left: 200px;
        top: -10px;
        z-index: 99999;
        cursor: pointer;
        opacity: 1;
        display: none;
        text-align: center;
        color: #fff;
        font-size: 25px;
        margin: 15px 30px;
    }

    .contact_section1 {
        margin: 70px 0px 70px 0px;
    }

    .showw_cross {
        display: block;


    }

    .address_section {
        padding: 0px 0px;
    }

    .about_section2 p {
        font-size: 16px;
        line-height: 27px;
    }

    .top-main:hover .content_part {
        width: 100%;
        left: 0px;
    }
}